﻿<%@ Page Title="" Language="C#" MasterPageFile="~/ConMenu.Master" AutoEventWireup="true" CodeBehind="EliminarCancion.aspx.cs" Inherits="WebApplication1.EliminarCancion" %>
<asp:Content ID="Content1" ContentPlaceHolderID="head" runat="server">
</asp:Content>
<asp:Content ID="Content2" ContentPlaceHolderID="ContentPlaceCuerpoIndex" runat="server">
Esta seguro que desea eliminar esta cancion
<form runat="server">
    <asp:Button ID="Button1" runat="server" Text="SI" onclick="Button1_Click" />
    <asp:Button ID="Button2" runat="server" Text="NO" onclick="Button2_Click" />
    </form>
</asp:Content>
