
#tp-cuerpo-verde{background-color:#54B948;}
#tp-cabecera-negro-login{background-color:#1A171B; height:5%;}

.footer {
position: absolute;
bottom: 0;
width: 100%;
height: 60px;
background-color: #1A171B;
}
#tp-letra-pie-blanco{
margin-top:2rem;
color:#ffffff;
font-family: "Industrial736 BT";
font-style: bold;
font-size: 10px;}

#tp-letra-cabecera-blanco{

color:#ffffff;
font-family: "Industrial736 BT";
font-style: bold;
font-size: 2rem;}

#login{margin-top:5rem;
border-right: 5px solid #FFF;
 }
#registrarte{margin-top:5rem;
}
#tp-letra-blanca{color:#ffffff;
font-family: "Industrial736 BT";
font-style: bold;
font-size: 20px;
margin-left:5rem;}

/*Formulario*/
#passWord{
 margin-left:12rem;
color:#000;
font-family: "FrankGoth BT";font-size: 1.5rem;
font-style: bold;
background-color:transparent;
 border-top:0px;
 border-left:0px;
 border-right:0px;  
 border-bottom:1px solid #274425;}

#serName {
margin-left:12rem;
color:#000;
font-family: "FrankGoth BT";font-size: 1.5rem;
font-style: bold;
background-color:transparent;
 border-top:0px;
 border-left:0px;
 border-right:0px;  
 border-bottom:1px solid #274425;}

 #tp_login_entrar{

 margin: auto auto auto 25rem;
border-top:0px;
 background-color:transparent;
 border-left:0px;
 border-right:0px;  
 border-bottom:0px solid #274425;
 }
#tp-formulario{

margin-left:12rem;}
#tp-formulario-registrarte{margin-left:5rem;}
#loginForm1{margin: 40% auto auto 20%;}
#FormRegistracion{margin: 10% auto auto 40%;}
#loginFormReg{margin: 20% auto auto auto;}

/*menu*/
#tp-letra-menu{margin-left:2rem;
color:#ffffff;
font-family: "Industrial736 BT";
font-style: bold;
font-size: 1rem;}
#tp-letra-menu-email{
color:#ffffff;
font-family: "Industrial736 BT";
font-style: bold;
font-size: 1rem;}

#tp-menu-album{ border-right-style:solid;
margin-top:12px;
border-color: #d6d6d6;}
#tp-letra-menu-nombre{
color:#ffffff;
font-family: "Industrial736 BT";
font-style: bold;
font-size: 2rem;}

#tp-menu-nombre{
margin-top:1rem;
}

#tp-menu-canciones{ border-right-style:solid;
margin-top:12px;
margin-bottom: 1rem;
border-color: #d6d6d6;}
#tp-menu-logout{margin-top:10px;}
