﻿<%@ Page Language="C#" AutoEventWireup="true" CodeBehind="Registracion.aspx.cs" Inherits="WebApplication1.Registracion" %>

<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml">
<head runat="server">
    <title></title>
</head>
<body>
    <form id="form1" runat="server">
    <div>
    <!-- guardar en la base  y genera codigo guid.newGuid().tostring() generar el link y mostrar en pantalla, y cuando el usuario
    va al link pegarle el codigo en la URL, y despues buscar por codigo
    
    -->
    Usuario 
        <asp:TextBox ID="TextBox1" runat="server"></asp:TextBox><br />
        <asp:Button ID="Button1" runat="server" Text="Registrar" 
            onclick="Button1_Click" />

        <asp:Label ID="Label1" runat="server" Text="Label"></asp:Label> <br />
        <asp:HyperLink ID="HyperLink1" runat="server">HyperLink</asp:HyperLink>
    </div>
    </form>
</body>
</html>
